# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Hardhat artifacts / cache
cache/

# Node / JS tooling
node_modules/

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
